.header {
  background: #242636;
  text-align: center;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  &__logo {
    position: relative !important;
    width: auto !important;
    height: 50px !important;
  }
}

@media screen and (min-width: "768px") {
  .header {
    padding: 1rem 3rem;
  }
}

@media screen and (min-width: "1200px") {
  .header {
    padding: 1rem 6rem;
  }
}

@media screen and (min-width: "1400px") {
  .header {
    padding: 1rem 14rem;
  }
}
